# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=main
_openmp_mutex=4.5=1_gnu
absl-py=1.0.0=pypi_0
addict=2.4.0=pypi_0
antlr4-python3-runtime=4.8=pypi_0
anyio=3.4.0=pypi_0
argon2-cffi=21.3.0=pypi_0
argon2-cffi-bindings=21.2.0=pypi_0
asttokens=2.3.0=pypi_0
attrs=21.2.0=pypi_0
babel=2.9.1=pypi_0
backcall=0.2.0=pypi_0
blas=1.0=openblas
bleach=4.1.0=pypi_0
ca-certificates=2023.01.10=h06a4308_0
cachetools=4.2.4=pypi_0
certifi=2022.12.7=py38h06a4308_0
cffi=1.15.0=pypi_0
charset-normalizer=2.0.9=pypi_0
clip=1.0=pypi_0
colorama=0.4.4=pyh9f0ad1d_0
coloredlogs=15.0.1=pypi_0
cycler=0.11.0=pypi_0
cython=0.29.33=py38h6a678d5_0
debugpy=1.5.1=pypi_0
decorator=5.1.0=pypi_0
defusedxml=0.7.1=pypi_0
deprecation=2.1.0=pypi_0
easydict=1.9=pypi_0
einops=0.4.1=pypi_0
entrypoints=0.3=pypi_0
executing=1.2.0=pypi_0
fonttools=4.28.5=pypi_0
freetype=2.10.4=h0708190_1
ftfy=6.1.1=pypi_0
future=0.18.2=pypi_0
fvcore=0.1.5.post20210915=py38
geotransformer=1.0.0=dev_0
gitdb=4.0.9=pypi_0
gitpython=3.1.17=pypi_0
google-auth=2.3.3=pypi_0
google-auth-oauthlib=0.4.6=pypi_0
grpcio=1.43.0=pypi_0
h5py=3.6.0=pypi_0
humanfriendly=10.0=pypi_0
hydra=2.5=pypi_0
hydra-core=0.11.3=pypi_0
idna=3.3=pypi_0
imageio=2.21.2=pypi_0
importlib-metadata=4.10.0=pypi_0
importlib-resources=5.4.0=pypi_0
install=1.3.5=pypi_0
iopath=0.1.9=py38
ipdb=0.13.13=pypi_0
ipykernel=6.6.0=pypi_0
ipython=8.12.2=pypi_0
ipython-genutils=0.2.0=pypi_0
ipywidgets=7.6.5=pypi_0
jedi=0.18.1=pypi_0
jinja2=3.0.3=pypi_0
joblib=1.1.0=pypi_0
jpeg=9d=h7f8727e_0
json5=0.9.6=pypi_0
jsonschema=4.3.2=pypi_0
jupyter-client=7.1.0=pypi_0
jupyter-core=4.9.1=pypi_0
jupyter-packaging=0.11.1=pypi_0
jupyter-server=1.13.1=pypi_0
jupyterlab=3.2.5=pypi_0
jupyterlab-pygments=0.1.2=pypi_0
jupyterlab-server=2.9.0=pypi_0
jupyterlab-widgets=1.0.2=pypi_0
kiwisolver=1.3.2=pypi_0
knn-cuda=0.2=pypi_0
ld_impl_linux-64=2.35.1=h7274673_9
libffi=3.3=he6710b0_2
libgcc-ng=11.2.0=h1234567_1
libgfortran-ng=7.3.0=hdf63c60_0
libgomp=11.2.0=h1234567_1
libopenblas=0.3.10=h5a2b251_0
libpng=1.6.37=h21135ba_2
libstdcxx-ng=11.2.0=h1234567_1
libtiff=4.0.10=hc3755c2_1005
llvmlite=0.38.0=pypi_0
lmdb=1.4.0=pypi_0
lz4-c=1.9.3=h9c3ff4c_1
markdown=3.3.6=pypi_0
markupsafe=2.0.1=pypi_0
matplotlib=3.5.1=pypi_0
matplotlib-inline=0.1.3=pypi_0
minkowskiengine=0.5.4=pypi_0
mistune=0.8.4=pypi_0
monai=1.0.1=pypi_0
msgpack=1.0.5=pypi_0
msgpack-numpy=0.4.8=pypi_0
nbclassic=0.3.4=pypi_0
nbclient=0.5.9=pypi_0
nbconvert=6.3.0=pypi_0
nbformat=5.1.3=pypi_0
ncurses=6.3=h7f8727e_2
nest-asyncio=1.5.4=pypi_0
networkx=2.8.6=pypi_0
nibabel=3.2.1=pypi_0
ninja=1.10.2.3=pypi_0
nomkl=3.0=0
notebook=6.4.6=pypi_0
numba=0.55.1=pypi_0
numexpr=2.8.1=pypi_0
numpy=1.21.5=pypi_0
numpy-quaternion=2021.11.4.15.26.3=pypi_0
nvidiacub=1.10.0=0
oauthlib=3.1.1=pypi_0
olefile=0.46=pyh9f0ad1d_1
omegaconf=2.1.1=pypi_0
open3d=0.12.0=pypi_0
openblas-devel=0.3.10=0
opencv-python=4.5.5.62=pypi_0
openmesh=1.2.1=pypi_0
openssl=1.1.1t=h7f8727e_0
packaging=21.3=pypi_0
pandas=1.3.5=pypi_0
pandocfilters=1.5.0=pypi_0
parso=0.8.3=pypi_0
pexpect=4.8.0=pypi_0
pickleshare=0.7.5=pypi_0
pillow=8.4.0=pypi_0
pip=21.2.4=py38h06a4308_0
plyfile=0.7.4=pypi_0
pointnet2=0.0.0=pypi_0
pointnet2-ops=3.0.0=pypi_0
portalocker=2.4.0=py38h578d9bd_0
prometheus-client=0.12.0=pypi_0
prompt-toolkit=3.0.39=pypi_0
protobuf=3.19.1=pypi_0
ptflops=0.6.9=pypi_0
ptyprocess=0.7.0=pypi_0
pure-eval=0.2.2=pypi_0
pyasn1=0.4.8=pypi_0
pyasn1-modules=0.2.8=pypi_0
pybind11=2.11.1=pypi_0
pycparser=2.21=pypi_0
pygments=2.10.0=pypi_0
pyparsing=3.0.6=pypi_0
pypng=0.20220715.0=pypi_0
pyquaternion=0.9.9=pypi_0
pyrsistent=0.18.0=pypi_0
python=3.8.12=h12debd9_0
python-dateutil=2.8.2=pypi_0
python_abi=3.8=2_cp38
pytorch-lightning=0.7.1=pypi_0
pytorch3d=0.5.0=pypi_0
pytz=2021.3=pypi_0
pywavefront=1.3.3=pypi_0
pywavelets=1.3.0=pypi_0
pyyaml=6.0=pypi_0
pyzmq=22.3.0=pypi_0
quaternion=3.5.2.post4=pypi_0
readline=8.1=h27cfd23_0
regex=2022.10.31=pypi_0
requests=2.26.0=pypi_0
requests-oauthlib=1.3.0=pypi_0
rsa=4.8=pypi_0
scikit-image=0.19.3=pypi_0
scikit-learn=1.0.1=pypi_0
scipy=1.5.2=pypi_0
send2trash=1.8.0=pypi_0
setuptools=58.0.4=py38h06a4308_0
simpleitk=2.1.1=pypi_0
six=1.16.0=pypi_0
sklearn=0.0=pypi_0
smmap=5.0.0=pypi_0
sniffio=1.2.0=pypi_0
sqlite=3.36.0=hc218d9a_0
stack-data=0.6.2=pypi_0
tables=3.7.0=pypi_0
tabulate=0.8.9=pyhd8ed1ab_0
tensorboard=2.7.0=pypi_0
tensorboard-data-server=0.6.1=pypi_0
tensorboard-plugin-wit=1.8.0=pypi_0
tensorboardx=2.4.1=pypi_0
termcolor=1.1.0=py_2
terminado=0.12.1=pypi_0
testpath=0.5.0=pypi_0
threadpoolctl=3.0.0=pypi_0
tifffile=2022.8.12=pypi_0
timm=0.3.2=pypi_0
tk=8.6.11=h1ccaba5_0
tomli=2.0.1=pypi_0
tomlkit=0.8.0=pypi_0
torch=1.7.1=pypi_0
torchaudio=0.7.2=pypi_0
torchvision=0.8.2=pypi_0
tornado=6.1=pypi_0
tqdm=4.62.3=pypi_0
traitlets=5.1.1=pypi_0
trimesh=2.35.39=pypi_0
typing-extensions=4.0.1=pypi_0
urllib3=1.26.7=pypi_0
wcwidth=0.2.5=pypi_0
webencodings=0.5.1=pypi_0
websocket-client=1.2.3=pypi_0
werkzeug=2.0.2=pypi_0
wheel=0.37.0=pyhd3eb1b0_1
widgetsnbextension=3.5.2=pypi_0
xz=5.2.5=h7b6447c_0
yacs=0.1.8=pyhd8ed1ab_0
yaml=0.2.5=h516909a_0
zipp=3.6.0=pypi_0
zlib=1.2.11=h7f8727e_4
zstd=1.4.9=ha95c52a_0
